<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore as maravilhas naturais de Alter do Chão">
    <meta name="keywords" content="Alter do Chão, Turismo, Natureza, Praia">
    <title>Tour em Alter do Chão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="header">
        <!-- Cabeçalho aqui -->
    </header>

    <main>
        <section class="intro-section">
            <div class="container">
                <h1>Explore Alter do Chão</h1>
                <p>Conheça o "Caribe Amazônico" e suas praias de água doce, uma experiência única em Alter do Chão.</p>
            </div>
        </section>

        <section class="image-section">
            <div class="container text-center">
                <img src="{{ url_for('static', filename='img/alterdochao.jpg') }}" alt="Alter do Chão"
                    class="img-fluid">
            </div>
        </section>

        <!-- Outras seções específicas do tour em Alter do Chão -->

    </main>

    <footer class="footer">
        <!-- Rodapé aqui -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>