/*body.css*/
:root {
    /* Defina suas variáveis de cores aqui, se necessário */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza o conteúdo horizontalmente */
    padding: 20px;
    font-family: Arial, sans-serif;
    /* Escolha uma fonte adequada para o corpo do texto */
}

.content {
    flex: 1;
    width: 100%;
    /* Garante que o conteúdo ocupe a largura total */
    max-width: 1200px;
    /* Limita a largura máxima do conteúdo */
}

main {
    margin-top: 20px;
    /* Adicione um espaçamento superior para separar o cabeçalho da página */
}

section {
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    /* Estilos para os títulos */
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Torna responsivo */
@media (max-width: 576px) {
    .tour-box {
        max-width: 100%;
        max-height: 400px;
        margin: 10px auto;
    }

    .button-group {
        text-align: center;
    }

    .button-group .btn {
        display: inline-block;
        margin: 5px;
    }
}