/* Reset CSS - Normalize.css é um exemplo de reset CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Variáveis CSS */
:root {
    --main-color: #944747;
    /* Cor principal */
    --callout-color: #ff9900;
    /* Cor do destaque */
    --background-color: rgba(0, 128, 255, 0.5);
    /* Cor de fundo com transparência */
    --text-color: #050505;
    /* Cor do texto principal */
    --footer-background-color: #007bff;
    /* Cor de fundo do footer */
    --footer-text-color: #080404;
    /* Cor do texto do footer */
}

/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    /* Fonte do texto */
    color: var(--text-color);
    /* Cor do texto principal */
    line-height: 1.6;
    /* Altura da linha do texto */
    font-size: 18px;
    /* Tamanho da fonte do texto */
    background-color: var(--background-color);
    /* Cor de fundo */
}

/* Estilos para links */
a {
    color: var(--main-color);
    /* Cor dos links */
    text-decoration: none;
    /* Remover sublinhado padrão dos links */
}


/* Estilos para botões */
.button-group {
    text-align: center;
    /* Centralizar o conteúdo dos botões */
    margin: 20px 0;
    /* Margem superior e inferior */
}

.button-group .btn {
    display: inline-block;
    /* Exibir botões em linha */
    margin: 5px;
    /* Espaçamento entre botões */
}

/* Estilos para caixas de tour */
.tour-box {
    width: 100%;
    max-width: 300px;
    /* Largura máxima das caixas de tour */
    height: auto;
    /* Altura automática para manter a proporção */
    overflow: hidden;
    /* Esconder conteúdo que ultrapassa as caixas */
    margin: 10px auto;
    /* Centralizar as caixas horizontalmente */
    border: 1px solid #ccc;
    /* Borda das caixas */
    border-radius: 10px;
    /* Cantos arredondados das caixas */
    box-shadow: 0 4px 6px rgba(22, 22, 22, 0.1);
    /* Sombra das caixas */
}

.tour-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Redimensionar imagens para cobrir a caixa */
}

/* Estilos responsivos para caixas de tour em dispositivos pequenos */
@media (max-width: 576px) {
    .tour-box {
        max-width: 100%;
        /* Largura máxima de 100% para dispositivos pequenos */
        max-height: 400px;
        /* Altura máxima para dispositivos pequenos */
        margin: 10px auto;
        /* Centralizar as caixas horizontalmente */
    }

    .button-group {
        text-align: center;
        /* Centralizar o botão "Ver Mais" */
    }

    .button-group .btn {
        display: inline-block;
        /* Exibir botões em linha */
        margin: 5px;
        /* Espaçamento entre botões */
    }
}

/* Estilos adicionais para caixa de preço */
.price-box {
    background-color: #f5f5f5;
    /* Cor de fundo da caixa de preço */
    padding: 10px;
    /* Espaçamento interno da caixa de preço */
    text-align: center;
    /* Centralizar o conteúdo */
    border: 1px solid #ccc;
    /* Borda da caixa de preço */
    border-radius: 5px;
    /* Cantos arredondados da caixa de preço */
    margin-top: 20px;
    /* Margem superior da caixa de preço */
}

.price {
    font-weight: bold;
    /* Texto em negrito */
    color: #333;
    /* Cor do texto da caixa de preço */
    font-size: 18px;
    /* Tamanho da fonte da caixa de preço */
}

/* Estilos para a descrição do tour */
.tour-description {
    font-size: 16px;
    /* Tamanho da fonte da descrição do tour */
    margin-top: 20px;
    /* Margem superior da descrição do tour */
}

/* Estilos para botões de navegação secundários */
.btn-secondary {
    background-color: #333;
    /* Cor de fundo dos botões secundários */
    color: #fff;
    /* Cor do texto dos botões secundários */
}

.btn-secondary:hover {
    background-color: #555;
    /* Cor de fundo ao passar o mouse sobre os botões secundários */
}

/* Estilos para botões de navegação primários */
.btn-primary {
    background-color: var(--main-color);
    /* Cor de fundo dos botões primários */
    color: #fff;
    /* Cor do texto dos botões primários */
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Cor de fundo ao passar o mouse sobre os botões primários */
}