/* Estilos para o cabeçalho */
/* Estilos para o cabeçalho */
header {
    background-image: url('static/img/alterdochao.jpg');
    /* Caminho para a imagem de fundo */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    /* Ajuste este valor conforme necessário para posicionar o título abaixo da logo */
    text-align: center;
    color: #000;
    /* Cor do texto no cabeçalho */
    position: relative;
    /* Para posicionamento relativo */
}

/* Estilos para a logo */
.logo-box {
    position: relative;
    display: inline-block;
    pointer-events: none;
    /* Impede que a logo seja clicada */
}

.logo {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Cor de fundo semitransparente */
    padding: 10px;
    /* Adicione um espaço ao redor da logo */
}

/* Alterar a cor do texto "Login" e "Cadastro" */
nav ul li a {
    color: #000;
    /* Cor preta */
}

/* Estilos gerais para links */
a {
    color: #007bff;
    /* Cor padrão para links */
    text-decoration: none;
    /* Remove o sublinhado dos links */
}

/* Estilos para a Navegação */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    /* Espaçamento entre o parágrafo e o menu */
}

/* Estilos para ícones e links na navegação */
nav a {
    color: #fff;
    /* Cor para os links da navegação */
    margin: 0 15px;
    /* Espaçamento horizontal entre os links */
    font-size: 1em;
    /* Tamanho da fonte para os links */
}

nav a:hover {
    color: #0056b3;
    /* Cor para o hover dos links */
}

/* Adicione estas regras para tornar o texto escuro */
.dark-text {
    color: #000;
    /* Cor escura, por exemplo, preto */
}