/* Reset CSS - Normalize.css é um exemplo de reset CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Variáveis CSS */
:root {
    --main-color: #1784c4;
    --callout-color: #ff9900;
    --background-color: #f8f9fa;
    --text-color: #000;
    --footer-background-color: #007bff;
    --footer-text-color: #fff;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    font-size: 18px;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

/* Layout */
.container {
    max-width: 500px;
    /* Largura máxima da página para evitar linhas de texto muito longas */
    margin: 0 auto;
    padding: 20px;
    /* Espaçamento interno para o conteúdo */
}

/* Botões */
.button-group {
    text-align: center;
    margin: 20px 0;
}

.button-group .btn {
    display: inline-block;
    margin: 5px;
}

/* Tour boxes */
.tour-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tour-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour-info {
    padding: 10px;
    text-align: center;
}

.tour-name {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Torna responsivo */
@media (max-width: 576px) {
    .tour-box {
        width: 100%;
        /* Para dispositivos pequenos, ocupar toda a largura */
        grid-auto-flow: row;
        /* Exibir uma imagem por vez em uma única coluna */
    }
}

@media (max-width: 768px) {
    .tour-box {
        width: 100%;
        /* Para dispositivos médios, ocupar toda a largura */
        grid-auto-flow: row;
        /* Exibir uma imagem por vez em uma única coluna */
    }
}

/* Estilos adicionais para a caixa de preço */
.price-box {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    /* Espaçamento superior */
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

/* Estilos para a descrição do tour */
.tour-description {
    font-size: 16px;
    margin-top: 20px;
}

/* Estilos para os botões de navegação */
.btn-secondary {
    background-color: #333;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #555;
}

.btn-primary {
    background-color: var(--main-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos para as imagens do slider */
.image-box {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.slider-img {
    display: none;
    width: 100%;
    height: auto;
}

.slider-img:first-child {
    display: block;
}

/* Estilos do Header */
.header {
    background-image: url("{{ url_for('static', filename='img/topo1.jpg') }}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    color: var(--footer-text-color);
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    /* Espaço entre a logo e o texto */
}

/* Estilos da Navbar */
.navbar {
    background-color: var(--main-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--footer-text-color);
}

.navbar-toggler-icon {
    font-size: 24px;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    /* Altura padrão */
    overflow-y: hidden;
    transition: max-height 0.3s ease-out;
    /* Transição suave */
}

.navbar-nav {
    flex-direction: column;
    /* Itens em coluna no mobile */
    text-align: center;
}

.nav-item {
    margin-bottom: 10px;
}

.navbar-toggler.active .navbar-collapse {
    max-height: 500px;
    /* Altura quando ativado */
    overflow-y: auto;
    transition: max-height 0.3s ease-in;
    /* Transição suave quando ativado */
}

/* Estilos da Seção de Passeios em Destaque */
.section {
    margin-top: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.section h2 {
    color: var(--main-color);
    font-size: 1.5em;
    margin-bottom: 15px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

/* Estilos da Seção de Chamada para Ação */
.call-to-action {
    background-color: var(--callout-color);
    color: var(--footer-text-color);
    padding: 20px 0;
    text-align: center;
}

.call-to-action h2 {
    margin-bottom: 15px;
}

.call-to-action p {
    margin-top: 10px;
}

.call-to-action .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.call-to-action .cta-button:hover {
    background-color: #e68a00;
}

/* Estilos da Seção de Mapa de Localização */
.location-map {
    margin-top: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.location-map h2 {
    color: var(--main-color);
    margin-bottom: 15px;
}

/* Estilos do Footer */
.footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 20px 0;
}

.footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer a {
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Estilos gerais para a seção principal */
.main-content {
    padding: 20px;
    background-color: var(--background-color);
}

/* Overlay sobre a imagem de fundo para melhorar a legibilidade do texto */
.content-overlay {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

/* Estilos para as seções destacadas, como 'Passeios em Destaque' */
.highlighted-tours,
.new-tours {
    margin-bottom: 20px;
}

.highlighted-tours h2,
.new-tours h2 {
    color: var(--main-color);
    text-align: center;
    margin-bottom: 15px;
}

.highlighted-tours ul,
.new-tours ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.highlighted-tours ul li,
.new-tours ul li {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para iframes (como mapas e depoimentos) */
.iframe-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Reduz o tamanho da logo em dispositivos móveis */
@media (max-width: 576px) {
    .header img {
        max-width: 80px;
    }
}