/* Estilos para o conteúdo principal */
.main-content {
    padding: 20px;
    /* Adapte o espaçamento interno conforme necessário */
    text-align: center;
    /* Centraliza o conteúdo */
}

/* Estilos para a seção de destaques */
.content-overlay {
    /* Remova o background-color para não exibir um fundo */
    padding: 40px 0;
    /* Espaçamento interno da seção de destaques */
}

/* Estilos para os artigos de destaques */
.highlighted-tours {
    margin-bottom: 30px;
    /* Espaçamento inferior entre os artigos de destaques */
}

/* Estilos para os títulos dos passeios */
.main-content h1 {
    color: #000;
    /* Cor do texto dos títulos */
    margin-top: 20px;
    /* Espaçamento superior para os títulos */
}

/* Estilos para a seção de depoimentos */
.client-testimonials {
    background-color: #f8f9fa;
    /* Cor de fundo da seção de depoimentos, se necessário */
    padding: 40px 0;
    /* Espaçamento interno da seção de depoimentos */
    text-align: center;
    /* Centraliza o conteúdo da seção */
}

/* Estilos para o formulário de inscrição */
.client-testimonials form {
    max-width: 400px;
    /* Largura máxima do formulário para manter o conteúdo mais compacto */
    margin: 0 auto;
    /* Centraliza o formulário dentro da seção de depoimentos */
}

.client-testimonials h2,
.client-testimonials p {
    margin-bottom: 20px;
    /* Espaçamento inferior para o título e o parágrafo dentro da seção de depoimentos */
}

/* Adicione estilos específicos para telas menores se necessário */
@media (max-width: 767px) {
    /* Adicione estilos específicos para telas menores aqui */
}