/* Estilo para a barra de navegação */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* Alinha horizontalmente com espaço entre os elementos */
    background-color: #f8f9fa;
    /* Cor de fundo da navbar */
    padding: 0.5rem 1rem;
    /* Espaçamento interno da navbar */
}

/* Estilo para o botão de hambúrguer */
#toggleMenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Tamanho do ícone do hambúrguer */
}

/* Estilo para os links na barra de navegação */
.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    /* Cor dos links */
    margin-right: 20px;
    /* Espaçamento entre os links */
    font-weight: bold;
}

/* Estilo para a lista de itens colapsáveis */
.navbar-collapse {
    display: none;
    /* Inicialmente, ocultar a lista colapsável */
    margin-top: 10px;
    /* Espaçamento superior para a lista colapsável em dispositivos móveis */
}

/* Estilo para os links na lista colapsável */
.navbar-collapse ul {
    list-style: none;
    padding: 0;
}

.navbar-collapse ul li {
    margin: 0;
}

.navbar-collapse ul li a {
    text-decoration: none;
    color: #333;
    /* Cor dos links */
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    /* Adicione um espaçamento inferior entre os links em dispositivos móveis */
}

/* Adicione regras CSS para telas menores (móveis) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* Coloca os elementos em uma coluna para dispositivos móveis */
        align-items: flex-start;
        /* Alinha os elementos à esquerda em dispositivos móveis */
    }

    .navbar-links {
        margin-top: 10px;
        /* Espaçamento superior para os links em dispositivos móveis */
    }

    /* Estilo para os links em dispositivos móveis */
    .navbar-links a {
        margin-right: 0;
        /* Remova o espaçamento à direita para dispositivos móveis */
        margin-bottom: 10px;
        /* Adicione um espaçamento inferior entre os links em dispositivos móveis */
    }

    /* Exibir a lista colapsável em dispositivos móveis */
    .navbar-active .navbar-collapse {
        display: block;
    }
}