/* navbar.css */
.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    /* Cor branca com transparência */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra leve para destacar a navbar */
    padding: 0.5rem 1rem;
    /* Ajuste o preenchimento conforme necessário */
}

.navbar-brand {
    font-size: 1.5rem;
    /* Tamanho da fonte para a marca da navbar */
    color: #007bff;
    /* Cor da marca da navbar */
}

.navbar-nav {
    font-size: 1rem;
    /* Tamanho da fonte para os itens da navbar */
}

.nav-item {
    padding: 0.5rem 0.75rem;
    /* Espaçamento entre os itens da navbar */
}

.nav-link {
    color: #343a40;
    /* Cor dos links */
    transition: color 0.3s ease-in-out;
    /* Transição suave para efeitos hover */
}

.nav-link:hover,
.nav-link:focus {
    color: #007bff;
    /* Cor dos links ao passar o mouse ou focar */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    /* Cor da borda do botão toggler */
}

/* Estilos para navbar em dispositivos móveis */
@media (max-width: 991.98px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.8);
        /* Maior transparência em dispositivos móveis */
    }
}

/* Adicione mais estilos específicos conforme necessário */