/* navbar.css */
.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    max-width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Container dos itens da navbar */
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    /* Transição suave */
}

/* Estilização dos itens da navbar */
.nav-item {
    margin: 0 1rem;
}

.nav-link {
    color: #343a40;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: #007bff;
    transform: scale(1.1);
    /* Efeito de ampliação no hover */
}

/* Estilos para o botão hamburguer */
.navbar-toggler {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    display: none;
    /* Escondido inicialmente */
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Responsividade: transforma a navbar em menu hamburguer em telas pequenas */
@media (max-width: 767px) {
    .navbar-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        /* Sombra no menu */
    }

    .navbar-nav.show {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    .navbar-toggler {
        display: inline-block;
        /* Exibe o botão hamburguer */
    }

    .navbar {
        justify-content: space-between;
    }
}