/* Estilos para as imagens das tours */
.tour-box {
    width: 100%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tour-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Torna responsivo */
@media (max-width: 576px) {
    .tour-box {
        max-width: 100%;
        max-height: 400px;
        margin: 10px auto;
    }

    .button-group {
        text-align: center;
    }

    .button-group .btn {
        display: inline-block;
        margin: 5px;
    }
}

/* Estilos adicionais para a caixa de preço */
.price-box {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.price {
    font-weight: bold;
    color: var(--main-color);
    font-size: 18px;
}

/* Estilos para a descrição do tour */
.tour-description {
    font-size: 16px;
    margin-top: 20px;
}

/* Estilos para os botões de navegação */
.btn-secondary {
    background-color: var(--main-color);
    color: #fff;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: var(--main-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos do Header */
.header {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 10px 0;
    text-align: center;
}

.header img {
    max-width: 150px;
    height: auto;
}