<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tours.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Lago Verde - Alter do Chão</title>
</head>

<body>
    <div class="image-box">
        <img src="{{ url_for('static', filename='img/lagoverde/lagoverde1.jpg') }}" alt="Lago Verde 1"
            class="slider-img">
        <img src="{{ url_for('static', filename='img/lagoverde/lagoverde2.jpg') }}" alt="Lago Verde 2"
            class="slider-img">
        <img src="{{ url_for('static', filename='img/lagoverde/lagoverde3.jpg') }}" alt="Lago Verde 3"
            class="slider-img">
        <img src="{{ url_for('static', filename='img/lagoverde/lagoverde4.jpg') }}" alt="Lago Verde 4 "
            class="slider-img">
        <img src="{{ url_for('static', filename='img/lagoverde/lagoverde5.jpg') }}" alt="Lago Verde 5"
            class="slider-img">
    </div>

    <p class="tour-description">
        Lago Verde: Em meio à serenidade de uma vila de pescadores na Amazônia,
        banhada pelas águas do imponente Rio Tapajós, repousa o Lago Verde em Alter do Chão.
        Este maravilhoso cenário natural envolve carinhosamente a Ilha do Amor,
        oferecendo aos seus visitantes uma jornada memorável e repleta de beleza natural.
    </p>

    <div class="button-group">
        <a href="{{ url_for('routes.tourdestaques') }}" class="btn btn-secondary">Home</a>
        <a href="{{ url_for('routes.pacotes') }}" class="btn btn-primary" target="_blank">Saiba mais</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let currentImageIndex = 0;
            const images = document.querySelectorAll('.slider-img');
            const totalImages = images.length;

            setInterval(() => {
                images[currentImageIndex].style.display = 'none';
                currentImageIndex = (currentImageIndex + 1) % totalImages;
                images[currentImageIndex].style.display = 'block';
            }, 2000);
        });
    </script>
</body>

</html>