<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotas - Rio Arapiuns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="row" id="destination-gallery">
                <!-- Destino 1: Canal do Jari -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.canaldojari') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/canaldojari3.jpg') }}"
                                alt="Canal do Jari">
                        </div>
                        <div class="tour-info">
                            <div class="destination-name">Canal do Jari</div>
                            <a href="{{ url_for('routes_tours.canaldojari') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 2: Casa do Saulo -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.casadosaulo') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/casadosaulo2.jpg') }}"
                                alt="Casa do Saulo">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Casa do Saulo</div>
                            <a href="{{ url_for('routes_tours.casadosaulo') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 3: Encontro das Águas -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.encontrodasaguas') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/encontrodasaguas1.jpg') }}"
                                alt="Encontro das Águas">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Encontro das Águas</div>
                            <a href="{{ url_for('routes_tours.encontrodasaguas') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 4: Lago do Jacaré -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.lagodojacare') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/lagojacare2.jpg') }}"
                                alt="Lago do Jacaré">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Lago do Jacaré</div>
                            <a href="{{ url_for('routes_tours.lagodojacare') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 5: Lago Preto -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.lagopreto') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/lagopreto1.jpg') }}"
                                alt="Lago Preto">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Lago Preto</div>
                            <a href="{{ url_for('routes_tours.lagopreto') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 6: Pedra da Moca -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pedradamoca') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/pedramoca3.JPG') }}"
                                alt="Pedra da Moca">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Pedra da Moca</div>
                            <a href="{{ url_for('routes_tours.pedradamoca') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 7: Ponta do Cururu -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontadocururu') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/pontadocururu1.jpg') }}"
                                alt="Ponta do Cururu">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta do Cururu</div>
                            <a href="{{ url_for('routes_tours.pontadocururu') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 8: Ponta de Pedras -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontadepedras') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/pontadepedras3.jpg') }}"
                                alt="Ponta de Pedras">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta de Pedras</div>
                            <a href="{{ url_for('routes_tours.pontadepedras') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </main>

    <script>
        var currentIndex = 0;
        var tours = document.querySelectorAll(".col-md-4");

        function showTours() {
            for (var i = 0; i < tours.length; i++) {
                tours[i].style.display = "none";
            }
            for (var i = currentIndex; i < currentIndex + 3; i++) {
                if (i < tours.length) {
                    tours[i].style.display = "block";
                }
            }
            currentIndex += 3;
            if (currentIndex >= tours.length) {
                currentIndex = 0;
            }
            setTimeout(showTours, 2000); // Altere o intervalo de troca aqui (em milissegundos)
        }

        showTours();
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>