{% extends "base.html" %}

{% block title %}Mapa de Rotas - Guia de Alter{% endblock %}

{% block extra_css %}
<!-- Incluindo o CSS do Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #mapid {
        height: 600px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}

{% block content %}
<div class="container" style="padding: 40px 20px;">
    <h1 class="text-center" style="margin-bottom: 30px;">Mapa de Rotas</h1>
    <p class="text-center" style="margin-bottom: 40px;">Explore as principais rotas e pontos turísticos de Alter do
        Chão.</p>

    <div id="mapid"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Incluindo o JavaScript do Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
    // Inicializando o mapa e configurando as coordenadas e o nível de zoom
    var mymap = L.map('mapid').setView([-2.50381, -54.95145], 13);

    // Adicionando os tiles do OpenStreetMap ao mapa
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© Contribuições do OpenStreetMap'
    }).addTo(mymap);

    // Adicionando um marcador no mapa
    var marker = L.marker([-2.50381, -54.95145]).addTo(mymap);
    marker.bindPopup("<b>Alter do Chão</b><br>O Caribe Amazônico.").openPopup();

    // Adicionando mais marcadores (Exemplos)
    var lagoVerde = L.marker([-2.495, -54.955]).addTo(mymap);
    lagoVerde.bindPopup("<b>Lago Verde</b><br>Floresta Encantada.");

    var ilhaDoAmor = L.marker([-2.500, -54.953]).addTo(mymap);
    ilhaDoAmor.bindPopup("<b>Ilha do Amor</b><br>Praia mais famosa.");

</script>
{% endblock %}