<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/tours.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="row" id="destination-gallery">
                <!-- Destino 1: Praia de Aramanaí -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.aramanai') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/subindoorio/aramanai1.jpg') }}"
                                alt="Praia de Aramanaí">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Praia de Aramanaí</div>
                            <a href="{{ url_for('routes_tours.aramanai') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 2: Praia de Cajutuba -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.cajutuba') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/subindoorio/cajutuba1.jpg') }}"
                                alt="Praia de Cajutuba">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Praia de Cajutuba Belterra - PA</div>
                            <a href="{{ url_for('routes_tours.cajutuba') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 3: Lago do Jucurui -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.lagodojurucui') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/subindoorio/lagodojucurui.jpg') }}"
                                alt="Lago Jucuruí, Belterra - PA">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Lago Jucuruí, Belterra - PA</div>
                            <a href="{{ url_for('routes_tours.lagodojurucui') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 4: Ponta do Muretá  -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontadomureta') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/subindoorio/pontadomureta1.jpg') }}"
                                alt="Ponta do Muretá">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta do Muretá</div>
                            <a href="{{ url_for('routes_tours.pontadomureta') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 5: Praia de Pindobal -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pindobal') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/subindoorio/pindobal3.jpg') }}"
                                alt="Praia do Pindobal">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Praia do Pindobal</div>
                            <a href="{{ url_for('routes_tours.pindobal') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Destino 6: Alter do Chão Tour -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.alterdochaotour') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/alterdochao.jpg') }}" alt="Alter do Chão">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Alter do Chão Tour</div>
                            <a href="{{ url_for('routes_tours.alterdochaotour') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </main>

    <script>
        var currentIndex = 0;
        var destinations = document.querySelectorAll(".col-md-4");

        function showDestinations() {
            for (var i = 0; i < destinations.length; i++) {
                destinations[i].style.display = "none";
            }
            for (var i = currentIndex; i < currentIndex + 3; i++) {
                if (i < destinations.length) {
                    destinations[i].style.display = "block";
                }
            }
            currentIndex += 3;
            if (currentIndex >= destinations.length) {
                currentIndex = 0;
            }
            setTimeout(showDestinations, 2000); // Altere o intervalo de troca aqui (em milissegundos)
        }

        showDestinations();
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>