<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours em Destaque - Alter do Chão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tours.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="row" id="carousel">
                <!-- Tour 1: Ponta da Valéria -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontadavaleria') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/lagoverde/pontadavaleria.jpg') }}"
                                alt="Ponta da Valéria">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta da Valéria</div>
                            <a href="{{ url_for('routes_tours.pontadavaleria') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour ponta Grande -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontagrande') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/rioarapiuns/pontagrande1.jpg') }}"
                                alt="Ponta Grande">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta Grande</div>
                            <a href="{{ url_for('routes_tours.pontagrande') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 8: Alter do Chão -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.lagoverde') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/alterdochao/alterdochao2.jpg') }}"
                                alt="Alter do Chão">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Alter do Chão</div>
                            <a href="{{ url_for('routes_tours.alterdochaotour') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 2: Lago Verde -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.lagoverde') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/lagoverde/lagoverde5.jpg') }}"
                                alt="Lago Verde">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Lago Verde</div>
                            <a href="{{ url_for('routes.lagoverde') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 3: Igarapé do Macaco -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.igarapedomacaco') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/lagoverde/igarapedomacaco2.jpg') }}"
                                alt="Igarapé do Macaco">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Igarapé do Macaco</div>
                            <a href="{{ url_for('routes_tours.igarapedomacaco') }}" class="btn btn-primary">Ver mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 4: Ponta do Cururu -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontadocururu') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/pontadocururu2.jpg') }}"
                                alt="Ponta do Cururu">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta do Cururu</div>
                            <a href="{{ url_for('routes_tours.pontadocururu') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 4: Ponta do Cururu -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pontadocururu') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/pontadocururu2.jpg') }}"
                                alt="Ponta do Cururu">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Ponta do Cururu</div>
                            <a href="{{ url_for('routes_tours.pontadocururu') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 5: Floresta Encantada -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.florestaencantada') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/lagoverde/florestaencantada.jpg') }}"
                                alt="Floresta Encantada">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Floresta Encantada</div>
                            <a href="{{ url_for('routes_tours.florestaencantada') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 5: Praia de Pindobal -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.pindobal') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/subindoorio/pindobal3.jpg') }}"
                                alt="Praia do Pindobal">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Praia do Pindobal</div>
                            <a href="{{ url_for('routes_tours.pindobal') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 6: Lago Preto -->
                <div class="col-md-4">
                    <div class="tour-box">
                        <img src="{{ url_for('static', filename='img/descendoorio/lagopreto2.jpg') }}" alt="Lago Preto">
                    </div>
                    <div class="tour-info">
                        <div class="tour-name">Lago Preto</div>
                        <a href="{{ url_for('routes_tours.lagopreto') }}" class="btn btn-primary" target="_blank">Ver
                            mais</a>
                    </div>
                </div>

                <!-- Tour 4: Igarapé do Camarão -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.igarapedocamarao') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/lagoverde/igarapecamarao.jpg') }}"
                                alt="Igarapé do Camarão">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Igarapé do Camarão</div>
                            <a href="{{ url_for('routes_tours.igarapedocamarao') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>
                    </a>
                </div>

                <!-- Tour 7: Ponta de Pedras -->
                <div class="col-md-4">
                    <div class="tour-box">
                        <img src="{{ url_for('static', filename='img/descendoorio/pontadepedras3.jpg') }}"
                            alt="Ponta de Pedras">
                    </div>
                    <div class="tour-info">
                        <div class="tour-name">Ponta de Pedras</div>
                        <a href="{{ url_for('routes_tours.pontadepedras') }}" class="btn btn-primary"
                            target="_blank">Ver mais</a>
                    </div>
                </div>

                <!-- Tour 7: Encontro das Águas -->
                <div class="col-md-4">
                    <a href="{{ url_for('routes_tours.encontrodasaguas') }}" target="_blank">
                        <div class="tour-box">
                            <img src="{{ url_for('static', filename='img/descendoorio/encontrodasaguas1.jpg') }}"
                                alt="Alter do Chão">
                        </div>
                        <div class="tour-info">
                            <div class="tour-name">Encontro das Águas</div>
                            <a href="{{ url_for('routes_tours.encontrodasaguas') }}" class="btn btn-primary">Ver
                                mais</a>
                        </div>

                        <!-- Tour 8: Alter do Chão Tour -->
                        <div class="col-md-4">
                            <a href="{{ url_for('routes_tours.alterdochaotour') }}" target="_blank">
                                <div class="tour-box">
                                    <img src="{{ url_for('static', filename='img/alterdochao.jpg') }}"
                                        alt="Alter do Chão">
                                </div>
                                <div class="tour-info">
                                    <div class="tour-name">Alter do Chão Tour</div>
                                    <a href="{{ url_for('routes_tours.alterdochaotour') }}" class="btn btn-primary">Ver
                                        mais</a>
                                </div>
                            </a>
                        </div>

                </div>
            </div>
    </main>

    <script>
        var currentIndex = 0;
        var tours = document.querySelectorAll(".col-md-4");

        function showTours() {
            for (var i = 0; i < tours.length; i++) {
                tours[i].style.display = "none";
            }
            for (var i = currentIndex; i < currentIndex + 3; i++) {
                if (i < tours.length) {
                    tours[i].style.display = "block";
                }
            }
            currentIndex += 3;
            if (currentIndex >= tours.length) {
                currentIndex = 0;
            }
            setTimeout(showTours, 2000); // Altere o intervalo de troca aqui (em milissegundos)
        }

        showTours();
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>