<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours em Destaque - Alter do Chão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .tour-box {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin: 10px;
        }

        .carousel-inner {
            display: flex;
            flex-direction: row;
        }

        .carousel-item {
            flex: 0 0 33.33%;
        }

        @media (max-width: 768px) {
            .tour-box {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>

<body>
    <header class="header">
        <!-- Cabeçalho aqui -->
    </header>

    <main>
        <div class="container">
            <h1>Tours em Destaque</h1>
            <div class="row">

                <!-- Tour 1: Ponta da Valéria -->
                <div class="col-md-4">
                    <div class="tour-box">
                        <div id="carouselPontaValeria" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/pontadavaleria.jpg') }}"
                                        class="d-block w-100" alt="Ponta da Valéria">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/pontadavaleria1.jpg') }}"
                                        class="d-block w-100" alt="Ponta da Valéria">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/pontadavaleria2.jpg') }}"
                                        class="d-block w-100" alt="Ponta da Valéria">
                                </div>
                            </div>
                        </div>
                        <a href="templates/tours/pontadavaleria.html">Ponta da Valéria</a>
                    </div>
                </div>

                <!-- Tour 2: Lago Verde -->
                <div class="col-md-4">
                    <div class="tour-box">
                        <div id="carouselLagoVerde" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/lagoverde1.jpg') }}"
                                        class="d-block w-100" alt="Lago Verde">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/lagoverde2.jpg') }}"
                                        class="d-block w-100" alt="Lago Verde">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/lagoverde3.jpg') }}"
                                        class="d-block w-100" alt="Lago Verde">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/lagoverde4.jpg') }}"
                                        class="d-block w-100" alt="Lago Verde">
                                </div>
                            </div>
                        </div>
                        <a href="templates/tours/lagoverde.html">Lago Verde</a>
                    </div>
                </div>

                <!-- Tour 3: Igarapé do Macaco -->
                <div class="col-md-4">
                    <div class="tour-box">
                        <div id="carouselIgarapeMacaco" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ url_for('static', filename='img/igarapemacaco1.jpg') }}"
                                        class="d-block w-100" alt="Igarapé do Macaco">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/igarapemacaco2.jpg') }}"
                                        class="d-block w-100" alt="Igarapé do Macaco">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ url_for('static', filename='img/igarapemacaco3.jpg') }}"
                                        class="d-block w-100" alt="Igarapé do Macaco">
                                </div>
                            </div>
                        </div>
                        <a href="templates/tours/igarapedomacaco.html">Igarapé do Macaco</a>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="footer">
        <!-- Rodapé aqui -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Aumente o tempo de transição do carousel para 5 segundos
        $('.carousel').carousel({
            interval: 5000
        });
    </script>
</body>

</html>